# The name of an already existing SSH key on EC2. This will be added to the
# EC2 instances for SSH access. See
# https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html on how
# to create or import one to EC2. If not specified, a new key will be created.
#ssh-key-name = ""

# The name of the cluster.
#cluster-name = ""

# AWS region to use. Currently only us-east-1 is supported
#region = ""

# VPC CIDR.
#vpc-cidr = ""

# Kubernetes pod CIDR. Note: since on AWS the VPC CNI plugin is used, pods will
# get an IP address from the VPC CIDR, not from the pod CIDR.
#pod-cidr = ""

# Kubernetes service CIDR. Cluster IPs will be allocated from this CIDR.
#service-cidr = ""

# If left empty, the latest available version will be used.
#k8s-version = ""

#  Size of the root device volume in GB on the node. E.g. "20"
#node-disk-size = ""

# Blacklist certain AZs to prevent capacity problems. E.g. ["use1-az3"]
#blacklisted-azs = ""

# If not set, Ubuntu 16.04 will be used.
#node-ami = ""

# The path for a virtual-kubelet kustomize directory.
#kustomize-dir = ""
