TUNNEL1_ADDRESS=${tunnel1_address}
TUNNEL1_CGW_INSIDE_ADDRESS=${tunnel1_cgw_inside_address}
TUNNEL1_VGW_INSIDE_ADDRESS=${tunnel1_vgw_inside_address}
TUNNEL1_PSK=${tunnel1_psk}
TUNNEL2_ADDRESS=${tunnel2_address}
TUNNEL2_CGW_INSIDE_ADDRESS=${tunnel2_cgw_inside_address}
TUNNEL2_VGW_INSIDE_ADDRESS=${tunnel2_vgw_inside_address}
TUNNEL2_PSK=${tunnel2_psk}
VPC_CIDR=${vpc_cidr}
BGP_ASN=${bgp_asn}
K8S_ASN=${k8s_asn}
AMAZON_SIDE_ASN=${amazon_side_asn}
