apiVersion: apps/v1
kind: Deployment
metadata:
  name: kip
  namespace: kube-system
spec:
  template:
    spec:
      containers:
      - command:
        - /kip
        - --provider
        - kip
        - --provider-config
        - /etc/kip/provider.yaml
        - --network-agent-secret
        - kube-system/vk-network-agent
        - --disable-taint
        - --cluster-dns=${local_dns}
        - --klog.logtostderr
        - --klog.v=2
        name: kip
