bases:
- ../../manifests/kip/overlays/minikube/
resources:
- vpn-deployment.yaml
- node-local-dns.yaml
patchesJson6902:
- target:
    group: apps
    version: v1
    kind: StatefulSet
    name: kip
  path: command-extra-args.yaml
configMapGenerator:
- name: kip-config
  namespace: kube-system
  behavior: merge
  files:
  - provider.yaml
- name: aws-vpn-client-config
  namespace: kube-system
  env: aws-vpn-client.env
secretGenerator:
- name: kip-secrets
  namespace: kube-system
  literals:
  - AWS_ACCESS_KEY_ID=${aws_access_key_id}
  - AWS_SECRET_ACCESS_KEY=${aws_secret_access_key}
