apiVersion: v1
cloud:
  aws:
    region: ${region}
    accessKeyID: ""
    secretAccessKey: ""
    vpcID: ${vpc_id}
    subnetID: ${subnet_id}
etcd:
  internal:
    dataDir: /opt/kip/data
cells:
  standbyCells:
  defaultInstanceType: t3.nano
  defaultVolumeSize: 15G
  bootImageSpec:
    owners: 689494258501
    filters: name=elotl-kip-*
  nametag: ${name}
  itzo:
    url: https://itzo-kip-download.s3.amazonaws.com
    version: latest
  extraCIDRs:
%{for cidr in extra_cidrs ~}
  - ${cidr}
%{endfor ~}
kubelet:
  cpu: "100"
  memory: "512Gi"
  pods: "200"
