#
# See variables.tf for all possible configuration variables.
#

# Cluster name.
#cluster-name = ""

# Region and zone to create resources in.
#region = ""
#zone = ""

# The path for a virtual-kubelet kustomize directory.
#kustomize-dir = ""
