# Cluster name.
#cluster-name = ""

# Region and zone to create resources in.
#region = ""
#zone = ""

# Kubernetes pod CIDR.
#pod-cidr = ""

# Kubernetes service CIDR. Cluster IPs will be allocated from this CIDR.
#service-cidr = ""

# The path for a virtual-kubelet kustomize directory.
#kustomize-dir = ""
