#
# See variables.tf for all possible configuration variables.
#

# name of GCP Project
#project = ""

# Cluster name.
#cluster-name = ""

# Region and zone to create resources in.
#region = ""
#zone = ""

# The path for a kip kustomize directory.
#kustomize-dir = ""
