[global.config]
  as = ${BGP_ASN}
  router-id = "${POD_IP}"

[zebra]
  [zebra.config]
    enabled = true
    url = "unix:/var/run/quagga/zserv.api"
    #redistribute-route-type-list = ["connect", "bgp"]
    redistribute-route-type-list = ["bgp"]
    version = 3

[[peer-groups]]
  [peer-groups.config]
    peer-group-name = "k8s-bgp-clients"
    peer-as = ${K8S_ASN}
  [peer-groups.route-reflector.config]
    route-reflector-client = true
    route-reflector-cluster-id = "${POD_IP}"
  [peer-groups.route-server.config]
    route-server-client = true
  [peer-groups.graceful-restart.config]
    enabled = true
[[dynamic-neighbors]]
  [dynamic-neighbors.config]
    prefix = "10.0.0.0/8"
    peer-group = "k8s-bgp-clients"
[[dynamic-neighbors]]
  [dynamic-neighbors.config]
    prefix = "192.168.0.0/16"
    peer-group = "k8s-bgp-clients"
[[dynamic-neighbors]]
  [dynamic-neighbors.config]
    prefix = "172.16.0.0/12"
    peer-group = "k8s-bgp-clients"

[[peer-groups]]
  [peer-groups.config]
    peer-group-name = "aws-vpn-bgp-peers"
    peer-as = ${AMAZON_SIDE_ASN}
  [peer-groups.graceful-restart.config]
    enabled = true
  [peer-groups.route-reflector.config]
    route-reflector-client = true
    route-reflector-cluster-id = "${TUNNEL1_CGW_INSIDE_ADDRESS}"
  [peer-groups.route-server.config]
    route-server-client = true
  [peer-groups.ebgp-multihop.config]
    enabled = true

[[neighbors]]
  [neighbors.config]
    neighbor-address = "${TUNNEL1_VGW_INSIDE_ADDRESS}"
    peer-group = "aws-vpn-bgp-peers"

[[neighbors]]
  [neighbors.config]
    neighbor-address = "${TUNNEL2_VGW_INSIDE_ADDRESS}"
    peer-group = "aws-vpn-bgp-peers"
