config setup
	uniqueids=no

conn Tunnel1
	auto=start
	left=%defaultroute
	right=${TUNNEL1_ADDRESS}
	type=tunnel
	leftauth=psk
	rightauth=psk
	keyexchange=ikev1
	ike=aes128-sha1-modp1024
	ikelifetime=8h
	esp=aes128-sha1-modp1024
	lifetime=1h
	keyingtries=%forever
	leftsubnet=0.0.0.0/0
	rightsubnet=0.0.0.0/0
	dpddelay=10s
	dpdtimeout=30s
	dpdaction=restart
	mark=100
	leftupdown="/etc/ipsec.d/aws-updown.sh -ln Tunnel1 -ll ${TUNNEL1_CGW_INSIDE_ADDRESS}/30 -lr ${TUNNEL1_VGW_INSIDE_ADDRESS}/30 -m 100 -r ${VPC_CIDR}"

conn Tunnel2
	auto=start
	left=%defaultroute
	right=${TUNNEL2_ADDRESS}
	type=tunnel
	leftauth=psk
	rightauth=psk
	keyexchange=ikev1
	ike=aes128-sha1-modp1024
	ikelifetime=8h
	esp=aes128-sha1-modp1024
	lifetime=1h
	keyingtries=%forever
	leftsubnet=0.0.0.0/0
	rightsubnet=0.0.0.0/0
	dpddelay=10s
	dpdtimeout=30s
	dpdaction=restart
	mark=200
	leftupdown="/etc/ipsec.d/aws-updown.sh -ln Tunnel2 -ll ${TUNNEL2_CGW_INSIDE_ADDRESS}/30 -lr ${TUNNEL2_VGW_INSIDE_ADDRESS}/30 -m 200 -r ${VPC_CIDR}"
